.root {
  position: sticky;
  top: 0px;
  z-index: 40;
  transition-property: box-shadow, background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 950ms;
  background-color: var(--primary);
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  text-align: center;
}

.shadow-magical {
  background-color: var(--top);

  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.02), 0 0 8px rgba(0, 0, 0, 0.03),
    0 1px 0 rgba(0, 0, 0, 0.05);
}

/* .shadow-magical .wrapper {
  padding: 0;
} */

.main {
  display: flex;
  align-items: center;
  flex: 1 1 0%;
}

.search-nav {
  display: none;
  margin-left: 1.5rem;
}

.search-nav > * + * {
  --tw-space-x-reverse: 0;
  margin-right: calc(1rem * var(--tw-space-x-reverse));
  margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
}

@media (min-width: 768px) {
  .wrapper {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
}

@media (min-width: 1024px) {
  .search-nav {
    display: block;
  }
}

.link {
  display: inline-flex;
  align-items: center;
  color: var(--text-primary);
  line-height: 1.5rem;
  font-weight: 500;

  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 75ms;
  cursor: pointer;
}

.link:hover {
  color: var(--hover);
}

.link:focus {
  color: var(--hover-2);
}

.logo {
  /* @apply cursor-pointer rounded-full border transform duration-100 ease-in-out; */

  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 350ms;
  cursor: pointer;
  border-radius: 9999px;
}

.logo:hover {
  /* @apply shadow-md; */
  transform: scale(1.25);
}
