.footer {
  background-color: var(--primary);
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 2rem;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: var(--accents-2);
  padding: 3rem;
  color: var(--text-primary);
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.item {
  grid-column: span 1 / span 1;
}

.list {
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
}

.list-item {
  padding: 0.75rem;
}

.list-item-link {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  color: var(--text-primary);
}
.list-item-link:hover {
  color: var(--accents-6);
}

.link {
  /* & > svg {
    @apply transform duration-75 ease-linear;
  }

  &:hover > svg {
    @apply scale-110;
  } */
}

.logo-link {
  display: flex;
  align-items: center;
  flex: 0 1 auto;
  font-weight: 700;
}

.logo-wrapper {
  margin-right: 0.5rem;
}

@media (min-width: 1024px) {
  .wrapper {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .item {
    /* grid-column: span 2 / span 2; */
  }

  .list-item {
    padding: 0px;
    padding-bottom: 1rem;
  }

  .logo-link {
    margin-right: 6rem;
  }
}

@media (min-width: 768px) {
  .list {
    flex: 1 1 0%;
  }
}
